# Dependencies
node_modules
.next
out
build
.env
.env.*
.vercel

# Config
config.yaml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb

# Content Isolation
# Ignore all blog posts by default
content/blog/*
# But keep the vision blog!
!content/blog/the-vision.tr.mdx
!content/blog/the-vision.en.mdx

# Temp/Cache
.turbo
.cache
